@charset "utf-8";
	.XMLID_103_
{
	background : #143249;
	background : rgba(20, 50, 73, 1);
}
.XMLID_82_
{
	background-image : url(XMLID_82_.png);
	background-repeat : no-repeat;
}
.Styledecaractresnormal
{
	font-family : Gill Sans Ultra Bold;
	font-size : 38px;
	color : #F6F6F6;
	color : rgb(246, 246, 246);
}
.Styledecaractresnormal1
{
	font-family : Gill Sans Ultra Bold;
	font-size : 102px;
	color : #F6F6F6;
	color : rgb(246, 246, 246);
}
